* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.awesome {
  margin: auto;
  max-width: 1170px;
}
.container-headers {
  padding-top: 100px;
  text-align: center;
  height: 250px;
}

.container-header-one {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  color: #212121;
  text-transform: uppercase;
}

.line {
  margin: auto;
  margin-bottom: 35px;
  width: 64px;
  height: 5px;
  border-bottom: 1px solid #d98943;
}

.container-header-two {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #86878b;
}
.awesome-container-main {
  padding-top: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.awesome-container-main-card {
  text-align: center;
}

.awesome-container-main-card-img {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
}

.awesome-container-main-card-img-icon {
  margin-top: 20px;
}
.awesome-container-main-card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 60px;
  width: 350px;
  margin-bottom: 109px;
}
.awesome-container-main-card-header {
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
