.container {
  background-image: url(../images/axure.png);
  width: 1742px;
  margin: 0 auto;
  position: relative;
}
.axure {
  max-width: 1170px;
  margin: auto;
  border: 15px;
  position: relative;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
}
.axure-container-headers {
  position: relative;
  text-align: center;
}

.axure-container-header-one {
  font-family: 'Raleway';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top: 58px;
}

.axure-container-header-two {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}

.axure-container-header-one::after {
  display: block;
  width: 64px;
  content: '';
  position: relative;
  border: 1px solid #ffffff;
  top: 34px;
  margin: 0 auto;
}

.axure-container-header-button {
  position: relative;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 26px 11px 26px;
  margin: 0 auto;
  bottom: 38px;
}

.axure-container-header-button:link {
  background-color: transparent;
  text-decoration: none;
}
