.axure {
  background-image: url(../images/axure.png);
  margin: 0 auto;
  position: relative;
}
.axure-container {
  max-width: 1170px;
  margin: auto;
  border: 15px;
  position: relative;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 30px auto 50px;
  align-items: center;
}

.axure-container-headers {
  position: relative;
}

.axure-container-header-one {
  font-family: 'Raleway';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top: 58px;
}

.axure-container-header-two {
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffcc;
  padding: 70px 100px;
}

.axure-container-header-one::after {
  display: block;
  width: 64px;
  content: '';
  position: relative;
  border: 1px solid #ffffff;
  top: 34px;
  margin: 0 auto;
}

.axure-container-button {
  position: relative;
  text-align: center;
}
.axure-container-button-link {
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 26px;
  background-color: transparent;
  text-decoration: none;
  margin-bottom: 45px;
  cursor: pointer;
}

@media (max-width: 320px) {
  .axure-container-header-two {
  }

  .axure-container-button {
  }
}
