.header {
  background-image: url(../images/header-background.png);
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header-mask {
  background-color: #00000073;
  margin: auto;
  max-width: 1170px;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 110px;
}

.header-container-one {
  display: block;
}
.header-container-one-logo {
  display: block;
}

.header-container-one-title {
  font-family: 'Raleway';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 32px;
}

.header-container-one-title::after {
  display: block;
  width: 64px;
  content: '';
  position: relative;
  border: 1px solid #ffffff;
  top: 34px;
}

.header-container-one-lorem {
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffffcc;
  margin-top: 71px;
  margin-bottom: 50px;
}

.header-container-one-button {
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 26px 11px 26px;
  position: relative;
  text-align: center;
  margin-bottom: 112px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  margin-top: 50px;
}

.header-container-one-button:link {
  background-color: transparent;
  text-decoration: none;
}

.header-container-two {
  background-color: white;
  border-radius: 8px;
}

.header-container-two-title {
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 44px;
  padding-top: 15px;
}

.header-container-two-form {
  display: flex;
  flex-direction: column;
}

.item {
  margin: auto 59px 19px;
  border: 0;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  width: 252px;
}

.item:focus {
  border-bottom: 3px solid #ec7979;
}

.header-label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #bdbdbd;
  padding-left: 59px;
}

.submit {
  margin: 0;
  outline: none;
  width: 370px;
  color: #ffffff;
  background: #ec7979;
  border: 1px solid #ec7979;
  border-radius: 0 0 8px 8px;
  text-align: center;
  margin-top: 50px;
  padding: 17px;
}
.free-color {
  color: #ec7979;
}
