.header {
  background-image: url(../images/header-background.png);
  max-width: 1170px;
  border: 15px;
  margin: auto;
}

.header-mask {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 100px;
  padding-bottom: 0px;
  background-color: #00000073;
  flex-wrap: wrap;
}

.header-container-one {
  display: block;
}
.header-container-one-logo {
  display: block;
}

.header-container-one-title {
  font-family: 'Raleway';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 32px;
  display: block;
}

.header-container-one-title::after {
  display: block;
  width: 64px;
  content: '';
  position: relative;
  border: 1px solid #ffffff;
  top: 34px;
}

.header-container-one-lorem {
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffffcc;
  margin-top: 71px;
}

.header-container-one-button {
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 26px 11px 26px;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: transparent;
  cursor: pointer;
}

.header-container-two {
  background-color: white;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 80px;
}

.header-container-two-title {
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 44px;
  padding-top: 15px;
}

.header-container-two-form {
  display: flex;
  flex-direction: column;
}

.item {
  margin: auto 59px 19px;
  border: 0;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  width: 252px;
}

.item:focus {
  border-bottom: 3px solid #ec7979;
}

.header-label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #bdbdbd;
  padding-left: 59px;
}

.submit {
  margin: 0;
  outline: none;
  width: 370px;
  color: #ffffff;
  background: #ec7979;
  border: 1px solid #ec7979;
  border-radius: 0 0 8px 8px;
  text-align: center;
  margin-top: 50px;
  padding: 17px;
  cursor: pointer;
}
.free-color {
  color: #ec7979;
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    position: relative;
    text-align: center;
    border: 0;
  }
  .header-mask {
    margin: 0;
    border: 0;
    padding: 50px 15px;
  }

  .header-container-one-title {
    text-align: center;
  }

  .header-container-one-title::after {
    margin: 0 auto;
  }

  .header-container-two {
    text-align: left;
    margin-bottom: 15px;
  }
  .item {
    margin: 2px 10px;
    padding: 0px;
    width: 250px;
  }
  .submit {
    margin: 15px;
    padding: 17px;
    width: 230px;
    margin-top: 20px;
    align-items: center;
    border-radius: 8px;
  }
  .header-label {
    padding: 15px;
  }
  .header-container-two-title {
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    max-width: 768px;
    position: relative;
    text-align: center;
  }

  .header-label {
    margin: 0 auto;
    padding: 0;
  }

  .header-mask {
    padding: 16px;
    margin: 0;
    padding: 0 20px;
  }

  .header-container-two {
    text-align: left;
  }
  .item {
    margin: 2px 10px;
    padding: 0px;
    width: 250px;
  }
  .submit {
    margin: 15px;
    padding: 17px;
    width: 230px;
    margin-top: 20px;
    align-items: center;
    border-radius: 8px;
  }

  .header-container-two-title {
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .header-container-one-logo {
    padding-top: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    max-width: 1024px;
  }
  .header-mask {
    max-width: 1024px;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .header {
    max-width: 1366px;
  }
  .header-mask {
    max-width: 1366px;
  }
}

@media (min-width: 1367px) {
  .header {
    min-width: 1367px;
    max-width: 100%;
    margin: 0 auto;
  }
  .header-mask {
    max-width: 100%;
    margin: 100 auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .header-container-two {
    background-color: white;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 80px;
  }
}
