.pricing {
  max-width: 1170px;
  margin: auto;
  border: 15px;
  background-color: #f5f5f5;
}
.container-headers {
  padding-top: 80px;
  text-align: center;
}
.variant-cost-column-header-title {
  width: 340px;
  background-color: #333333;
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 16px 9px;
}
.variant-cost-column-header-cost {
  width: 340px;
  background-color: #333333;
  margin-bottom: 1px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  padding: 26px 33px;
}

.variant-cost-column-header-free {
  width: 340px;
  background-color: #333333;
  margin-bottom: 1px;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding: 17px 14px;
}

.variant-cost-column-header-free:hover {
  background-color: #d98943;
  cursor: pointer;
}
.variant-cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.variant-cost-column {
  text-align: center;
  padding-bottom: 80px;
}
.space {
  list-style-type: none;
  width: 340px;
  background-color: #ffffff;
  margin-bottom: 4px;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  padding-top: 15px;
  padding-bottom: 15px;
}

.space:hover {
  background-color: #d98943;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 320px) {
  .container-headers {
    width: 100%;
    padding: 25px 25px;
    margin-bottom: 25px;
  }
  .pricing {
    width: 100%;
    margin: 0;
  }
  .variant-cost-column-header-title {
    width: 290px;
    margin: 0 15px;
  }
  .variant-cost-column-header-cost {
    width: 290px;
    margin: 0 15px;
  }
  .variant-cost-column-header-free {
    width: 290px;
    margin: 0 15px;
  }
  .space {
    width: 290px;
    margin: 0 15px;
  }
}
